{% extends 'app1/base.html' %}
{% load bootstrap4 %}
{% block page_header %}
<h2>Entries for {{topic}}:</h2>
{% endblock page_header %}
{% block content %}
<ul>
    {% for entry in entries %}
    <div class="card mb-3">
        <h4 class="card-header">{{entry.date|date:'M d, Y H:i'}}
            <small><a href="{% url 'app1:edit_entry' entry.id %}">Edit Entry</a></small>
        </h4>
        <div class="card-body">
            {{entry.text|linebreaks}}
        </div>
    </div>
    {% empty %}
    <p>Empty!</p>
    {% endfor %}
</ul>
<p><a href="{% url 'app1:new_entry' topic.id %}">Add Entry</a></p>
{% endblock content %}